.page-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.page-header h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 500;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

.rol-admin {
  color: #f44336;
  font-weight: 500;
}

.rol-mozo {
  color: #2196f3;
  font-weight: 500;
}

.rol-cajero {
  color: #4caf50;
  font-weight: 500;
}
